---
import BaseLayout from '../layouts/BaseLayout.astro';
import EventCard from '../components/EventCard.astro';
import Header from '../components/Header.astro';

const background = "/images/detalle.jpg";
const events = [
  {
    image: "/images/mesas.jpg",
    title: "Bodas",
    description: "Haz de tu boda un momento inolvidable llena de detalles que quedarán grabados en la memoria de todos tus invitados.",
  },
  {
    image: "/images/cacahuetes.jpg",
    title: "Cumpleaños",
    description: "Un día especial para celebrar la vida de esa persona tan especial para ti.",
  },  
  {
    image: "/images/mesa.jpg",
    title: "Comuniones y bautizos",
    description: "Te ayudamos a celebrar este momento tan especial con una decoración única y personalizada.",
  },
];
---
<BaseLayout>
  <Header 
    title="Nuestros Eventos" 
    subtitle="Descubre algunos de los eventos que hemos organizado en Granada."
    background={background}
  />
  <section class="py-16 bg-gray-50">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center text-gray-800">
      Lo hacemos inolvidable
    </h2>
    <p class="mt-4 text-center text-gray-600">
      Descubre algunos de los eventos que hemos organizado en Granada.
    </p>
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {events.map((event) => (
        <EventCard key={event.title} {...event} />
      ))}
    </div>
  </div>
</section>

</BaseLayout>

