---
const { title, subtitle, background } = Astro.props;
---
<header 
  class="bg-cover bg-center py-16 text-white relative"
  style={`background-image: url(${background})`}
>
  <div class="container mx-auto text-center relative z-10">
    <h1 class="text-4xl font-bold">{title}</h1>
    <p class="mt-4">{subtitle}</p>
  </div>
  <!-- Overlay oscuro opcional -->
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>
</header>
